@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@font-face {
    font-family: 'KG Second Chances Sketch';
    src: url('../fonts/KGSecondChancesSketch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    padding: 2px;
}
html{
    font-family: 'Architects Daughter',cursive,'DM Sans', sans-serif;
    background-color: #2E3561;
    color: white;

}
body{
    background-color: #2E3561;
    background-image:
      linear-gradient(rgba(255,255,255,.02) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.02) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.02) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.02) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
#models-filaments{
    display: flex;
    width: 100%;
    flex-grow: 1;
}
section{
    margin:25px;
    max-width: 600px;
}
#filaments{
    display:flex;
    flex-direction: column;
    min-width: 40vw;
    max-width: 100vw;
}
.filament{
    margin:10px;
    width: 100%;

    max-width: 500px;
    color: #fff;
    outline: 2px solid white;
    font-weight: bold;
    border-radius: 30px;
    display:flex;
    padding:10px;
}
.filament img{
    height: 130px;
    width: 130px;
    border-radius:10%;
    margin:20px;
}
.filament-title{
    font-family: 'KG Second Chances Sketch';
    font-size: 2.5em;
    font-weight: 100;
    margin:10px 0px;
}
.filament-text{
    display:flex;
    flex-direction: column;
    vertical-align: top;
    /* margin:2%; */
}
.colors{
    margin:5px;
    display:flex;
    flex-wrap: wrap;
}
.color{
    display:flex;
}

.color--white{
    background-color: #fff;}
.color--red{background-color: #f00;}
.color--lblue{background-color: #4af;}
.color--black{background-color: #000;}
.color--yellow{background-color: #ff0;}
.color-dot{
    height: 10px;
    width: 10px;
    line-height: 10px;
    border-radius: 30px;
    margin:5px;
    display:flex;
    flex-direction: row;

    box-shadow: 0px 0px 2px;
}

a{
    color:white;
}
.links{
    
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
.link-external{
    padding:20px;
    margin:10px;
    background-color: #2E3561;
    color:#fff;
    outline: 2px solid white;
    border-radius: 0.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-size:xx-large;
    z-index: 10;
    font-family: 'KG Second Chances Sketch';
    font-weight: 100;

    display:inline;
    white-space:nowrap;
    
}
.link-external:hover{
    cursor:pointer;
    color: #0bf;
    transition: 0.2s ease-in;
}
.scene{
    position: absolute;
    left:100px;
}
.cube{
    position: absolute;
    left:20px;
    top:50px;
    z-index: 0;
    transform-style: preserve-3d;
    
    animation-name: cubo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cube__face{
    position:absolute;
    width: 200px;
    height:200px;
}

.link-external:before{
    content: "";
    font-size: 0.3em;
    background-color: white;
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: 70%;
}


@keyframes cubo {
    from{transform: rotate3d(0,0,0,0deg)}
    to{transform:rotate3d(2,1.7,0,359deg);}
}
.cube__face--front  { transform: rotateY(  0deg) translateZ(110px); outline:10px solid white; }
.cube__face--right  { transform: rotateY( 90deg) translateZ(110px); outline:10px solid white; }
.cube__face--back   { transform: rotateY(180deg) translateZ(110px); outline:10px solid white; }
.cube__face--left   { transform: rotateY(-90deg) translateZ(110px); outline:10px solid white; }
.cube__face--top    { transform: rotateX( 90deg) translateZ(110px); outline:10px solid white; }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(110px); outline:10px solid white; }


.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }
.cube.show-isometric { transform: translateZ(0px) rotateX(45deg) rotateY(45deg);}

/* Media queries */

@media only screen and (min-width: 800px){
    .scene{
        left:50px;
        top:350px;
    }
    .bottom-sections{
        display:flex;
        flex-wrap: 1;
    }

    /* 
        
    }
    #links-showcase{
        margin: 0;
        height: 100%;
        min-width: 30vw;
        max-width: 100vw;
        vertical-align: top;
        display:inline-block;
    }
    .filament-text{
        display: inline-block;
    }
    .square-item{
        width: 100%;
        background-color: #FFF;
        color: black;
        font-weight: bold;
        border-radius: 30px;

    }
    .square-item img{
        height: 20vh;
        width: 20vh;
        border-radius:10%;
    }
    section{
        margin:0% 2% ;
    } */
}