h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
    padding: 2px;
}
html{
    font-family: 'DM Sans', sans-serif;
}
.square-item{

    height: 30em;
    width: 17em;
    background-color: #202020;

    outline:8px solid #202020;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    margin: 3%;
}
.square-item div img{
    height: 17em;
    width: 17em;
    border-radius:10%;
}

.filaments{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.colors{
    display:flex;
    flex-direction: row;
}
.color{
    width: 20px;
    height: 20px;
    padding:0px;
    margin:10px;
    outline:5px solid white;
    border-radius: 100px;
}
.red{
    background-color: red;
}
.lblue{
    background-color: #0bf;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.filament-text{
    margin:8%;
}
.link-external{
    background-color: #202020;
    padding:1em;
    margin:0.2em;
    color:white;
    border-radius: 0.5em;
    font-weight: bold;
}
.link-external:hover{
    cursor:pointer;
    transform: translate(0.5em);
    transition: 0.2s ease-in;
}
.link-row{
    display:flex;
    flex-direction: row;
}